streamlit==1.31.1
numpy
pandas
scikit-learn
joblib
# add only what’s absolutely needed
# Flask
torch
# werkzeug
openai-whisper
demucs
# pydub
# ffmpeg-python
# streamlit
# moviepy
# numpy
# TTS
werkzeug
whisper
TTS


